<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721320631862-f59cpsf59fgkt3jd33k0ckclb2mi023s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721320631862-f59cpsf59fgkt3jd33k0ckclb2mi023s</string>
	<key>API_KEY</key>
	<string>AIzaSyB5e2bOjpbbQ0pLl2P8T7vjsnM0P3DIDQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>721320631862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appFoodDx</string>
	<key>PROJECT_ID</key>
	<string>szclamnp</string>
	<key>STORAGE_BUCKET</key>
	<string>szclamnp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721320631862:ios:e318b8baaa3026b11f8297</string>
</dict>
</plist>